<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boon.reward_and_punishment.mapper.CapacityMapper">
    <resultMap id="capacity" type="com.boon.pojo.Capacity">
        <id property="sno" column="sno"/>
        <result property="basic" column="basic"/>
        <result property="rewardsSno" column="rewards_sno"/>
        <result property="proportion" column="proportion"/>
    </resultMap>

    <insert id="addCapacity" parameterType="com.boon.pojo.Capacity">
        insert into Capacity values (#{sno},#{basic},#{rewardsSno},#{proportion})
    </insert>

    <update id="update">
        update capacity
        <set>
            <if test="basic != null">
                basic = #{basic},
            </if>
            <if test="rewardsSno != null and rewardsSno != ''">
                rewards_sno = #{rewardsSno},
            </if>
            <if test="proportion != null">
                proportion = #{proportion},
            </if>
        </set>
        where sno = #{sno}
    </update>

    <select id="findBySno" resultMap="capacity">
        select * from capacity where sno = #{sno}
    </select>

    <select id="convert" resultType="java.lang.Double">
        SELECT (proportion*sum) AS `convert` FROM (SELECT DISTINCT proportion FROM capacity) AS c,
        (SELECT sum1+sum2 AS sum FROM
        (SELECT basic AS sum1 FROM capacity WHERE sno = #{sno}) AS a,
        (SELECT final_value AS sum2 FROM rewards WHERE id =
        (SELECT MAX(r.id) FROM rewards r INNER JOIN capacity c ON r.sno = c.sno WHERE c.sno=#{sno}
         AND type_id = 3)) AS b) AS d;
    </select>

    <select id="findAll" resultMap="capacity">
        select * from capacity
    </select>
</mapper>