<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boon.reward_and_punishment.mapper.CapacityMapper">
    <resultMap id="capacity" type="com.boon.pojo.Capacity">
        <id property="sno" column="sno"/>
        <result property="basic" column="basic"/>
        <result property="rewardsSno" column="rewards_sno"/>
        <result property="proportion" column="proportion"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <insert id="addCapacity" parameterType="com.boon.pojo.Capacity">
        insert into Capacity values (#{sno},#{basic},#{rewardsSno},#{proportion},0)
    </insert>

    <update id="update">
        update capacity
        <set>
            <if test="basic != null">
                basic = #{basic},
            </if>
            <if test="rewardsSno != null and rewardsSno != ''">
                rewards_sno = #{rewardsSno},
            </if>
            <if test="proportion != null">
                proportion = #{proportion},
            </if>
            <if test="del != null">
                del = #{del},
            </if>
        </set>
        where sno = #{sno}
    </update>

    <select id="findBySno" resultMap="capacity">
        select * from capacity where sno = #{sno}
    </select>

    <select id="convert" resultType="java.lang.Double">
        SELECT (proportion*sum) AS `convert` FROM
        (SELECT DISTINCT proportion FROM capacity) as c,
        (SELECT sum1+sum2 as sum from
        (SELECT basic AS sum1 FROM capacity WHERE sno = #{sno}) as a,
        (select final_value AS sum2 from rewards where id =
        (select max(r.id) from rewards r INNER JOIN capacity c ON r.sno = c.sno
        where c.sno=#{sno} and type_id = 13)) as b) as d;
    </select>

    <select id="findCapacity" resultMap="capacity">
        SELECT c.* , u.`name` user_name FROM capacity c INNER JOIN `user` u ON c.sno = u.sno WHERE c.del = 0 AND u.del = 0
        <if test="sno != null and sno != ''">
            and c.sno = #{sno}
        </if>
    </select>
</mapper>