<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boon.score.mapper.ScoreMapper">

    <resultMap id="score" type="com.boon.pojo.Score">
        <id property="id" column="id"/>
        <result property="sno" column="sno"/>
        <result property="courseId" column="course_id"/>
        <result property="score" column="score"/>
        <result property="del" column="del"/>
    </resultMap>

    <resultMap id="score1" type="com.boon.pojo.Score">
        <id property="id" column="id"/>
        <result property="sno" column="sno"/>
        <result property="courseId" column="course_id"/>
        <result property="score" column="score"/>
        <result property="del" column="del"/>
        <result property="courseName" column="course_name"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <insert id="addScore" parameterType="com.boon.pojo.Score">
        insert into score values(null,#{sno},#{courseId},#{score},0)
    </insert>

    <update id="update">
        update score
        <set>
            <if test="sno != null and sno != ''">
                sno = #{sno},
            </if>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="del != null">
                del = #{del},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findAll" resultMap="score">
        select * from score where del != 1
    </select>

    <select id="findBySno" resultMap="score">
        select * from score where del != 1 and sno = #{sno}
    </select>

    <select id="findByCourseId" resultMap="score">
        select * from score where del != 1 and course_id = #{courseId}
    </select>

    <select id="findCreditBySno" resultType="java.lang.Integer">
        SELECT SUM(c.credit)from (score s INNER JOIN course c ON s.course_id = c.id)INNER JOIN `user` u
        ON u.sno = s.sno where s.score >= 60 and u.sno = #{sno};
    </select>

    <select id="findLearnCreditBySno" resultType="java.lang.Integer">
        SELECT SUM(c.credit)from (score s INNER JOIN course c ON s.course_id = c.id)INNER JOIN `user` u
        ON u.sno = s.sno where u.sno = #{sno};
    </select>

    <select id="findTotalBySno" resultType="java.lang.Integer">
        SELECT SUM(s.score*c.credit) from (score s INNER JOIN course c ON s.course_id = c.id)INNER JOIN `user` u
        ON u.sno = s.sno where u.sno = #{sno};
    </select>

    <select id="findScore" resultMap="score1">
        SELECT s.* , c.name course_name , u.name user_name FROM
        (score s INNER JOIN course c ON s.course_id = c.id)
        INNER JOIN `user` u ON s.sno = u.sno WHERE
        s.del = 0 AND c.del = 0 AND u.del = 0
         <if test="sno != '' and sno != null">
             and s.sno = #{sno}
         </if>
         <if test="courseId != null">
             and s.course_id = #{courseId}
         </if>
         <if test="minScore != null">
                /* &gt;表示大于 */
             and s.score &gt;= #{minScore}
         </if>
         <if test="maxScore != null">
                /* &lt;表示小于 */
             and s.score &lt;= #{maxScore}
         </if>
    </select>
    <select id="findById" resultMap="score">
        select * from score where del = 0 and id = #{id}
    </select>

</mapper>