<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boon.class_fee.mapper.FeeMapper">
    <resultMap id="Fee" type="com.boon.pojo.ClassFee">
        <id property="id" column="id"/>
        <result property="income" column="income"/>
        <result property="expend" column="expend"/>
        <result property="money" column="money"/>
        <result property="operationTime" column="operation_time"/>
        <result property="userSno" column="user_sno"/>
        <result property="description" column="description"/>
        <result property="userName" column="user_name"/>
    </resultMap>

    <insert id="addFee" parameterType="com.boon.pojo.ClassFee">
        insert into class_fee values(null,#{income},#{expend},#{money},
        #{userSno},now(),#{description})
    </insert>

    <update id="updateFee" >
        update class_fee
        <set>
            <if test="income != ''">
                income = #{income},
            </if>
            <if test="expend != ''">
                expend = #{expend},
            </if>
            <if test="money != ''">
                money = #{money},
            </if>
            <if test="userSno != '' and userSno != null">
                user_sno = #{userSno},
            </if>
            <if test="operationTime != null">
                operation_time = #{operationTime},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findMoney" resultType="Double">
        SELECT money FROM class_fee WHERE id=(SELECT max(id) from class_fee)
    </select>
    <select id="findById" resultMap="Fee">
        select * from class_fee where id = #{id}
    </select>
    <select id="findBySno" resultMap="Fee">
        select * from class_fee where user_sno = #{sno}
    </select>
    <select id="findFee" resultMap="Fee">
        SELECT f.* , u.`name` user_name from
        class_fee f INNER JOIN `user` u ON f.user_sno = u.sno WHERE u.del = 0
        <if test="name != null and name != ''">
            and u.name = #{name}
        </if>
        <if test="sno != null and sno != ''">
            and f.user_sno = #{sno}
        </if>
        <if test="startTime != null">
            and UNIX_TIMESTAMP(f.operation_time) &gt; UNIX_TIMESTAMP(#{startTime})
        </if>
        <if test="endTime != null">
            and UNIX_TIMESTAMP(f.operation_time) &lt; UNIX_TIMESTAMP(#{endTime})
        </if>
    </select>
</mapper>