<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boon.user.mapper.RoleMapper">
    <resultMap id="role" type="com.boon.pojo.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
    </resultMap>

    <select id="findRoleNameByUserSno" resultType="java.lang.String">
        SELECT r.name FROM (user_role ur LEFT JOIN role r ON r.id = ur.role_id)
            LEFT JOIN user u ON ur.user_sno = u.sno WHERE u.sno = #{userSno}
    </select>
    <select id="findAll" resultMap="role">
        select * from role
    </select>

</mapper>